* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid salmon; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0.2rem;
    box-shadow: 1px 1px 20px #d4d3d3;
    position: relative;

}

.menu-items-container {
    display: flex;
    width: 20rem;
    justify-self: flex-start;
    gap: 3rem;

}

li {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: #282c3f;
    cursor: pointer;
}

.icon-holder {
    margin-left: -5rem;
    width: 10px;
    align-self: flex-start;
}

.icon-holder img {
    width: 70px;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

}

.search-icon {
    scale: 0.15;
    position: absolute;
    left: -5rem;
    top: -5rem;
}

.input-bar {
    justify-self: flex-end;
    width: 20rem;
    padding: 0.8rem 0.5rem 0.8rem 3rem;
    background-color: #f5f5f6;
    outline: none;
    border: 0px;
    border-radius: 3px;
    font-size: 1.01rem;
}

.sortby {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.dropdown {
    padding: 0.4rem;
    outline: none;
    font-size: 1.1rem;
    width: 10rem !important;
    border-radius: 4px;
}

.dropdown * {
    border-radius: 15px;
    font-size: 1.1rem;

}

.input-bar:focus {
    background-color: #fff;
}


.cart-holder {}

.cart-holder img {
    width: 30px;
    cursor: pointer;
}

.cart-list-length {
    position: absolute;
    background-color: red;
    right: 6.5%;
    top: 15px;
    padding: 0px 2px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    width: 98vw;
}

.filter-holder {
    min-width: 15%;
    height: auro;
    border: 2px solid #CCC;
    padding: 0.3rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.side-headings {
    margin-left: -0.5rem;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sort-holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 80vw;
}

.dropdown {
    width: 120px;
    margin-left: 0.5rem;
}

.product-tile-holder {
    margin-left: 5rem;
    width: 90%;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
}

.indiv-tile-holder {
    height: auto;
    width: 200px;
    padding: 5px;
    box-shadow: 1px 1px 2px #d4d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.indiv-tile-holder:hover,
:focus {
    box-shadow: 2px 3px 10px #c4c4c4;
}

.product-image {
    width: 200px;
}

.product-name {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}

.prodcut-desc {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 700;
    color: #333;
}

.price-para>:nth-child(2) {
    margin-left: 0.5rem;
}

.strick-price {
    text-decoration: line-through;
}

.final-price {
    font-weight: 500;
}

input[type='radio'] {
    accent-color: #ff3f6c;
}

.discount {
    color: rgb(230, 17, 17);
    font-weight: 650;
    font-style: italic;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #282c3f77;
    margin: 0 auto;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.add-to-cart-data {
    width: 90%;
    height: 90vh;
    margin-top: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}


.left-part {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.add-to-cart-btn {
    align-self: flex-end;
    margin-bottom: 1rem;
    padding: 0.2rem 0.8rem;
    font-weight: 500;
}

.right-part {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.close-btn {
    margin: 0.5rem 1rem 0 0;
    cursor: pointer;
    padding: 0 0.5rem;
    border-radius: 2px;
}

.close-btn:hover {
    background-color: #e9e9e9b7;
}

.product-image-grid {
    padding: 0.8rem;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.product-image-grid .image {
    width: 100%;
    height: 100%;
}

.product-detail-wrapper {
    margin: 1rem;
}

.product-desc {
    margin-top: 1rem;
}

.size-wrapper {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.size-option {
    width: 40px;
    height: 40px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #282c3f;
    border-radius: 50%;
    cursor: pointer;
}

.size-option:hover {
    border-color: red;
    color: #ff3f6c;
}

.selected-size {
    border-color: #ff3f6c;
    color: #ff3f6c;
}

#cart-modal-content {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 30%;
    background-color: #fff;
    right: 0;
    z-index: 2;
    padding: 1rem;
    box-shadow: 0px 2px 5px #282c3f;
}

#cart-modal-content .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid #282c3f;
    color: #282c3f;
    padding: 0.6rem;
}

.content-body {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;
}

.content-body-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 1px 1px 5px #282c3f;
    padding: 0.5rem;
}


.content-body-item .item-image {
    width: 100px;
}

.content-body-item .item-desc {
    margin-left: 1.2rem;
}

.content-footer {
    margin-top: 2rem;
    padding: 2rem 0;
}

.content-footer .total-original-price {
    color: #282c3f;

}

.content-footer .total-discount-price {
    color: rgb(1, 197, 116);
    font-weight: 400;

}

.content-footer .total-final-price {
    border-top: 1px solid #282c3f;
    color: #282c3f;
    font-weight: 600;
    font-size: 1.4rem;

}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-container .btn {
    padding: 0.5rem 1rem;
    background-color: #ff3f6c;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;

}

.btn-container .btn:hover {
    background-color: #ff2d5e
}