* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid salmon; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

:root {
    --primary-color: #282c3f;
    --shadow-color: #d4d3d3;
    --pink: #ff3f6c;
    --pink-hover: #fa1248;
    --shuttle-grey: #FAFBFC;
    --menu-underline-color: #ff3f6c;
    --modal-bg: #282c3fa8;
    --success-color: #408140;
}


.sm-icon {
    width: 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    box-shadow: 1px 1px 5px var(--shadow-color);
    z-index: 5;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.menu-items-container {
    display: flex;
    justify-self: flex-start;
    padding: 0.5rem 2rem;
    margin-left: -3rem;
}


.menu-item {
    list-style: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    padding: 1rem;
}

.menu-item::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 10%;
    height: 4px;
    width: 75%;
    background-color: var(--menu-underline-color);
    scale: 0;
    transition: ease-in-out 0.35s;
    transform-origin: left;
}

.menu-item:hover:after {
    scale: 1;
}

.logo-holder {
    justify-self: flex-start;
}

.logo-holder img {
    width: 50px;
}

.search-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

}

.search-icon {
    scale: 0.10;
    position: absolute;
    left: -5rem;
    top: -5.3rem;
}

.input-bar {
    justify-self: flex-end;
    width: 20rem;
    padding: 0.4rem 0.5rem 0.7rem 3rem;
    background-color: #f5f5f6;
    outline: none;
    border: 0px;
    border-radius: 3px;
    font-size: 1.01rem;
}

/* ==================================Mobile-Menu============ */

.mobile-menu-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    background-color: var(--shuttle-grey);
    /* border-bottom: 1px solid var(--primary-color); */
    box-shadow: 0px 1px 2px #333;
    margin-bottom: 0.5rem;
    display: none;
}

.left-wrapper,
.right-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.right-wrapper {
    margin-right: 2rem;
}


.mobile-menu-wrapper .logo {
    width: 50px;
    padding: 5px;
}

.hamburger-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.3rem;
    cursor: pointer;
    margin-left: 1rem;
}

.hamburger-container .ham-bar {
    width: 1.7rem;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: 3px;
    transition: all .3s;
}

.menu-modal-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--pink);
    z-index: 999;
    padding: 2rem;


}

.menu-modal-list .close-menu-btn {
    all: unset;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    outline: 1px solid var(--shadow-color);
    background-color: var(--shuttle-grey);
}

.menu-modal-item {
    list-style: none;
    margin: 1rem 0;
    font-size: 1.5rem;

}

.menu-modal-item a {
    text-decoration: none;
    padding: 1rem;
    color: var(--shadow-color);
    font-weight: 600;
}





/* ==================================Mobile-Menu============ */

.sortby {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.dropdown {
    padding: 0.4rem;
    outline: none;
    font-size: 1.1rem;
    width: 10rem !important;
    border-radius: 4px;
}

.dropdown * {
    border-radius: 15px;
    font-size: 1.1rem;

}

.input-bar:focus {
    background-color: #fff;
}

.cart-profile-wishlist-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}



.cart-holder {
    position: relative;
    cursor: pointer;
}

.profile-holder,
.wishlist-holder {
    cursor: pointer;
}

.added-count {
    position: absolute;
    background-color: red;
    right: -40%;
    top: -50%;
    padding: 0px 3px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}


/* 
===========================subMenu======================
*/
.submenu-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 1rem 3rem;
    z-index: 3;
    opacity: 1;
    transition: opacity 5s ease, transform 0.3s ease;
    cursor: default;
}

@keyframes slide-enter {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-exit {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(20px);
    }
}


.submenu-col {
    width: 10rem;
}

.submenu-col h5 {
    margin: 0.7rem 0;
}

.submenu-item {
    list-style-type: none;
    padding: 0.3rem 0;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.submenu-item a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 0.75rem;
    opacity: 0.5;
    cursor: progress;
}

#with-link:hover {
    font-weight: 700;
    cursor: pointer;

}

#with-link {
    opacity: 1;
}

.deal-headers {
    margin: 4rem 2rem;
}


.main-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-start;
    width: 98vw;
}

.filter-holder {
    min-width: 15%;
    height: auto;
    border: 2px solid #CCC;
    padding: 0.3rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.side-headings {
    margin-left: -0.5rem;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sort-holder {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 80vw;
}

.dropdown {
    width: 120px;
    margin-left: 0.5rem;
}

.product-tile-holder {
    margin-left: 5rem;
    width: 90%;
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 4rem;
    flex-wrap: wrap;
}

.indiv-tile-holder {
    height: auto;
    width: 200px;
    padding: 5px;
    box-shadow: 1px 1px 2px var(--shadow-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.indiv-tile-holder:hover,
:focus {
    box-shadow: 2px 3px 10px #c4c4c4;
}

.product-image {
    width: 200px;
}

.product-name {
    font-family: 'Times New Roman', Times, serif;
    color: #333;
}

.prodcut-desc {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 700;
    color: #333;
}

.price-para>:nth-child(2) {
    margin-left: 0.5rem;
}

.strick-price {
    text-decoration: line-through;
}

.final-price {
    font-weight: 500;
}

input[type='radio'] {
    accent-color: var(--pink);
}

.discount {
    color: rgb(230, 17, 17);
    font-weight: 650;
    font-style: italic;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--modal-bg);
    margin: 0 auto;
    z-index: 999;
    display: flex;
    justify-content: center;
}

.add-to-cart-data {
    width: 90%;
    height: 90vh;
    margin-top: 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}


.left-part {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.add-to-cart-btn {
    align-self: flex-end;
    background-color: var(--pink);
    border: none;
    margin-bottom: 1rem;
    padding: 0.2rem 0.8rem 0.4rem 0.8rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--shuttle-grey);
    border-radius: 5px;
}

.add-to-cart-btn:hover {
    background-color: var(--pink-hover);
}

.right-part {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.close-btn {
    margin: 0.5rem 1rem;
    cursor: pointer;
    padding: 0 0.6rem 0.3rem 0.6rem;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(255, 0, 0, 0.7);
    outline: 1px solid rgba(255, 0, 0, 0.5);
    font-size: 1.2rem;
    transition: ease-in 0.1s;

}

.close-btn:hover {
    background-color: rgba(218, 2, 2, 0.877);
    color: var(--shuttle-grey);
}

.product-image-grid {
    padding: 0.8rem;
    height: 100%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.product-image-grid .image {
    width: 100%;
    height: 100%;
}

.product-detail-wrapper {
    margin: 1rem;
}

.product-desc {
    margin-top: 1rem;
}

.size-wrapper {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.size-option {
    width: 40px;
    height: 40px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.size-option:hover {
    border-color: red;
    color: #ff3f6c;
}

.selected-size {
    border-color: #ff3f6c;
    color: #ff3f6c;
}

#cart-modal-content {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 30%;
    background-color: #fff;
    right: 0;
    z-index: 10;
    padding: 1rem;
    box-shadow: 0px 2px 5px var(--primary-color);
}

#cart-modal-content .content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    border-bottom: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 0.6rem;
}

.content-body {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    margin-top: 2rem;
    flex-direction: column;
}

.content-body-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: 1px 1px 5px var(--primary-color);
    padding: 0.5rem;
}


.content-body-item .item-image {
    width: 100px;
}

.content-body-item .item-desc {
    margin-left: 1.2rem;
}

.content-footer {
    margin-top: 2rem;
    padding: 2rem 0;
}

.content-footer .total-original-price {
    color: var(--primary-color);

}

.content-footer .total-discount-price {
    color: var(--success-color);
    font-weight: 600;

}

.content-footer .total-final-price {
    border-top: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.4rem;

}

.btn-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.btn-container .btn {
    padding: 0.5rem 1rem;
    background-color: #ff3f6c;
    color: #fff;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.2rem;

}

.btn-container .btn:hover {
    background-color: var(--pink-hover)
}

/* =============BiggestDeal ============= */
.deal-container {
    display: flex;
    flex-wrap: wrap;
}

.deal-container>* {
    flex: 1;
}


.cat-to-bag {
    display: flex;
    margin: 1rem 2rem;
    flex-wrap: wrap;
}

.cat-to-bag>* {
    flex: 1;
}

.cat-to-bag-link>img {
    width: 180px;
}



/* =============FOOTER ============= */
.footer-container {
    background-color: var(--shuttle-grey);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    justify-items: center;
}


.foot-col1 {
    grid-column: 1/3;
}

.foot-col2 {
    grid-column: 3/5;
}

.foot-col3 {
    grid-column: 5/9;
}

.foot-col4 {
    grid-column: 9/-1;
    margin-top: 3rem;
    justify-self: self-start;
}

.foot-header {
    font-weight: 600;
    color: #000;
    font-size: 0.8rem;
    margin-top: 2rem;
    text-transform: uppercase;
}

.foot-li-items {
    list-style: none;
    color: var(--primary-color);
    padding: 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;

}

.foot-li-items:first-child {
    margin-top: 1rem;
}

.download-btn-wrapper a img {
    margin: 1rem 0.2rem;
    width: 7rem;
    height: 2.2rem;
}

.guarantee-and-return-para {
    display: flex;
    gap: 1rem;
}

.guarantee-and-return-para img {
    width: 3.5rem;
}

.guarantee-and-return-para p {
    margin-top: 0.3rem;
    ;
}

.bottom-most {
    width: 100%;
    margin-left: 2.2rem;
    margin-top: 1rem;
    grid-column: 1/-2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
}

.concern-para a {
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 500;
    color: #526cd0;
}

.popular-searches {
    margin-left: 2.1rem;
    grid-column: 1/-2;
}

.search-link {
    text-decoration: none;
    font-size: 0.8rem;
    display: inline;
    color: var(--primary-color);
    margin-right: 7px;
}

.payment-container {
    width: 40%;
    height: 90vh;
    outline: 1px solid var(--shadow-color);
    background-color: var(--shuttle-grey);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto;
}

.payment-container>h1 {
    color: var(--primary-color);
    border-bottom: 2px solid #282c3fc0;
    padding: 1rem 0;
}

.payment-container .payment-succes {
    height: 40vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid var(--shadow-color);
    /* margin-top: 3rem; */
    border-radius: 10px;
    padding: 2rem;
    color: var(--success-color);
    font-weight: 600;
}

.payment-container .payment-bottom {
    height: 25vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.payment-container .continue-shopping {
    outline: 1px solid var(--shadow-color);
    background-color: var(--pink);
    color: var(--shuttle-grey);
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    border: none;
}

.payment-container .continue-shopping:hover {
    background-color: var(--pink-hover);
}


@media (max-width: 768px) {
    .nav {
        display: none;
    }

    .mobile-menu-wrapper {
        display: flex;

    }

    .deal-container {
        justify-content: center;
    }

    .deal-headers {
        margin: 4rem 1rem;
    }


    .cat-to-bag {
        margin: 0 0.5rem;
    }

    .deal-container>* {
        flex: 0;
    }

    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .popular-searches {
        width: 90vw;
        margin-left: -1rem;
        padding: 1rem;

    }

    .bottom-most {
        width: 90vw;
        margin-left: -1rem;
    }

    .bottom-most>* {
        width: 50%;
    }

}